body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.selector {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Para que los cuadrados estén en línea */
}

li {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #f0f0f0;
}
